// Place all the styles related to the website controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container{
  position: absolute;
  top:110px;
  left:180px;
  z-index: 100;
}
._tweetflow{
  width: 460px;
  height: 618px;
  position: relative;
  overflow: hidden;
  img{
    position: absolute;
  }
  ._tweet{
    width: 3000px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
    z-index: 9;
    position: absolute;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
    &._short{
      -webkit-animation: 1s linear _tweet infinite forwards;
    }
    &._middle{
      -webkit-animation: 2s linear _tweet infinite forwards;
    }
    &._long{
      -webkit-animation: 4s linear _tweet infinite forwards;
    }
  }
}

@for $i from 1 to 151 {
  ._tweet._#{$i} {
    animation: #{(140/$i)*1.8+3}s linear _tweet 1 forwards;
    -webkit-animation: #{(140/$i)*1.8+3}s linear _tweet 1 forwards;
  }
}

@-webkit-keyframes _tweet {
  from{
  transform: translateX(660px);
    -webkit-transform: translateX(660px);
  }
  99%{
  transform: translateX(-1260px);
    -webkit-transform: translateX(-1260px);
    opacity: 1;
  }
  to{
  transform: translateX(-1260px);
    -webkit-transform: translateX(-1260px);
    opacity: 0;
  }
}
@keyframes _tweet {
  from{
    transform: translateX(660px);
    -webkit-transform: translateX(660px);
  }
  99%{
    transform: translateX(-1260px);
    -webkit-transform: translateX(-1260px);
    opacity: 1;
  }
  to{
    transform: translateX(-1260px);
    -webkit-transform: translateX(-1260px);
    opacity: 0;
  }
}
